<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		body{
			background: skyblue;
		}

		figure{
			max-width: 300px;
			max-width: min-content;
			margin: auto;
			padding: .5em;
			border: 1px dashed #fff;
		}

		figure > img{
			max-width: inherit;
		}
	</style>
</head>
<body>
	<p>韩寒会画画，后悔画韩红，韩寒后悔和韩红嘿嘿嘿。</p>
	<figure>
		<img src="../images/pirate.png" alt="" />
		<figcaption>
			Ther great Sir Adam Catlace was named after Countess Ada Loverlace, the first programmer.
		</figcaption>
	</figure>
	<p>韩寒会画画，后悔画韩红，韩寒后悔和韩红嘿嘿嘿。</p>
</body>
</html>